In [2]:
#import pandas
import pandas as pd
print(dir(pd))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p16', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [3]:
help(pd.s

SyntaxError: unexpected EOF while parsing (<ipython-input-3-ee2c9ada50a0>, line 1)

In [ ]:
s=pd.Series([10,11,12,13])
s

In [ ]:
dict3 ={'a':11,'b':'ab','c':33}
s3=pd.Series(dict3)
s3

In [ ]:
import numpy as np
s4 =pd.Series(np.array(([1,2,3,4])))
s4


# operations between series(+,-,*)

In [ ]:
s5=pd.Series([1,2,3,4])
s6=pd.Series([6,7,8,9])
print(s5+s6)

In [ ]:
print(s5**s6)

In [ ]:
pd.Series([234,334,556,102,2000],index=['A','B','C','D','E'])

# Data frames

In [ ]:
pd.DataFrame()
help(pd.DataFrame)

In [ ]:
dict ={'Trainers':['mounika','siva','madhavi'],'subjects':['python','DA','ML'],'id':[1234,4567,7890]}
df=pd.DataFrame(dict)
df

In [ ]:
df=pd.DataFrame(dict,index=[1,2,3])
df

## Indexing
- selecting Rows
 -- df[stat val:stop_val]
- selecting Col
 -- df[col_name] or df.col_name
- selecting multiple col
 --

In [ ]:
df[0:1]

In [ ]:
df['id']

In [ ]:
df['id'][2]

In [ ]:
df['Trainers'][2]

In [ ]:
df.iloc[2]

In [ ]:
type(df.iloc[1])

In [ ]:
df.iloc[0:1,2]

In [ ]:
df['master']=['Akhil','akh','ak']
df

In [ ]:
print(dir(pd))

In [ ]:
df=pd.read_csv('market_fact.csv')
df

In [6]:
df=pd.read_csv('market_fact.csv')
df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [ ]:
df

In [7]:
df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [8]:
df.sample(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
4967,Ord_4231,Prod_8,SHP_5904,Cust_1421,244.9000,0.08,31,-61.14,3.62,0.61
6997,Ord_1611,Prod_4,SHP_2226,Cust_537,1018.4020,0.09,35,296.87,5.99,0.38
5360,Ord_2736,Prod_13,SHP_3752,Cust_1014,36.9100,0.07,10,-27.72,3.97,0.56
5456,Ord_3922,Prod_1,SHP_5449,Cust_1334,377.0300,0.06,6,-78.82,6.88,0.73
292,Ord_272,Prod_4,SHP_371,Cust_53,680.8585,0.05,39,319.10,0.99,0.37

In [9]:
df.tail()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [10]:
df.tail(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [12]:
df.sample(4)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
4748,Ord_3950,Prod_8,SHP_5489,Cust_1368,333.68,0.01,19,81.96,1.99,0.42
3014,Ord_101,Prod_1,SHP_139,Cust_73,300.20,0.00,8,6.41,8.22,0.57
3536,Ord_455,Prod_5,SHP_609,Cust_145,66.43,0.01,5,-9.45,13.04,0.60
3035,Ord_4891,Prod_1,SHP_6823,Cust_1673,7007.19,0.05,26,-274.95,35.00,0.80

In [14]:
df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=8399, step=1)

In [18]:
df[df['sales']>3000]

KeyError: 'sales'